<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="local" connectionString="mongodb://127.0.0.1/"/>
    </connectionStrings>

  <system.web>

    <machineKey validationKey="8728DE8943446A25D39BFC2A8418EB003AC77FB1E02C5904C6CF98C25DF31EFD7B5286FACE3E669B7502DD5E41590ACF75F456B0BAAED5A3CCFA0C8914A686E3" 
                decryptionKey="21427C27FF4DE9ACF4783336F9E9784835D1BBD7A688EF45" 
                validation="SHA1" 
                decryption="AES"/>

    <membership defaultProvider="MongoMembershipProvider">
      <providers>
          <clear/>
          <add name="MongoMembershipProvider" 
               type="MongoProviders.MembershipProvider, MongoProviders"
               databaseName="test"
               applicationName="/"
               connectionStringName="local" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider">
      <providers>
        <clear/>
        <add name="MongoRoleProvider" 
             type="MongoProviders.RoleProvider, MongoProviders" 
               databaseName="test"
               applicationName="/"
               connectionStringName="local" />
      </providers>
    </roleManager>
      <profile enabled="true" defaultProvider="MongoProfileProvider">
        <providers>
          <clear/>
          <add name="MongoProfileProvider"
               type="MongoProviders.ProfileProvider, MongoProviders"
               databaseName="test"
               applicationName="/"
               connectionStringName="local" />
        </providers>
        <properties>
            <add name="Name"/>
            <add name="FavoriteColors" type="System.Collections.Specialized.StringCollection, system, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" serializeAs="Xml"/>
            <add name="Weight" type="System.Int32"/>
                    <add name="BirthDate" type="System.DateTime"/>
            <add name="HasDefault" type="System.String" defaultValue="mydefault"/>
            <add name="ReadOnly" type="System.Int32" readOnly="true"/>
            <!--<add name="StudentInfo" type="StudentInfo" serializeAs="Binary"/>-->
        </properties>
      </profile>
  </system.web>
</configuration>

