<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="test" connectionString="mongodb://webapp:testtest123@staff.mongohq.com:10053/" />
    </connectionStrings>

  <system.web>

    <machineKey validationKey="8728DE8943446A25D39BFC2A8418EB003AC77FB1E02C5904C6CF98C25DF31EFD7B5286FACE3E669B7502DD5E41590ACF75F456B0BAAED5A3CCFA0C8914A686E3" 
                decryptionKey="21427C27FF4DE9ACF4783336F9E9784835D1BBD7A688EF45" 
                validation="SHA1" 
                decryption="AES"/>

    <membership defaultProvider="MongoMembershipProvider">
      <providers>
          <clear/>
          <add name="MongoMembershipProvider" 
               type="MongoProviders.MembershipProvider, MongoProviders"
               databaseName="test4"
               applicationName="/"
               connectionStringName="test" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider">
      <providers>
        <clear/>
        <add name="MongoRoleProvider" 
             type="MongoProviders.RoleProvider, MongoProviders" 
               databaseName="test4"
               applicationName="/"
               connectionStringName="test" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

